<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>LitReview</title>
</head>

<body>
    <header class="flex flex-row justify-around items-center h-16 bg-green-400">
        <img src="https://user.oc-static.com/upload/2020/09/18/16004297044411_P7.png" alt="" class="w-12">
        <nav class="flex gap-5">
            <a href="#">Liens</a>
            <a href="#">Liens</a>
            <a href="#">{{ user }}</a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>

</html>