<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>LitReview</title>
</head>

<body class="bg-gray-100">
    <header class="flex flex-row justify-around items-center h-16 bg-green-400">
        <img src="https://user.oc-static.com/upload/2020/09/18/16004297044411_P7.png" alt="" class="w-12">
        {% if user.is_authenticated %}
        <nav class="flex gap-5">
            <a class="hover:text-gray-700" href="#">Flux</a>
            <a class="hover:text-gray-700" href="#">Posts</a>
            <a class="hover:text-gray-700" href="#">Abonnements</a>
            <a class="hover:text-gray-700" href="/logout">Déconnexion</a>
        </nav>
        {% endif %}
    </header>
    {% block content %}{% endblock content %}
</body>

</html>