{% extends 'lit/base.html' %}

{% block content %}
    <div class="flex flex-col justify-center items-center" style="height: calc(100vh - 4rem);">
        <h2 class="text-2xl font-bold m-4">Nouveau ticket</h2>
        <form class="flex flex-col" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_ticket_add }}
            <input type="submit" value="Ajouter" class="bg-green-800 text-white mt-4 p-2 rounded-md border-2 border-green-800 hover:bg-green-600 cursor-pointer">
        </form>
    </div>
{% endblock content %}